.reMessageLoggerDeleted .messageContent-2t3eCI {
  color: #f04747;
}
.reMessageLoggerDeleted:not(.markup-eYLPri.messageContent-2t3eCI) {
  filter: grayscale(1);
}
.reMessageLoggerDeleted:hover .messageContent-2t3eCI {
  color: #ffffff !important;
}
.reMessageLoggerDeleted:hover:not(.markup-eYLPri.messageContent-2t3eCI) {
  filter: grayscale(0);
}
